.button {
  padding: 0.6rem;
  font-size: 1.2rem;
  background-color: #435870;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3 ease-in-out;

  &:hover {
    background-color: #5f7c9c;
  }
}
